* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: #1a1a1b;
    padding: 10px 30px;
    width: 100%;
    border-bottom: 2px solid orange;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding-bottom: 40px;
}

#hero {
    min-height: 500px;
    background-color: lightskyblue;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

#hero div {
    padding: 45px;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 12px;
}



#hero p {
    font-size: 22px;
}

#newsletter {
    padding: 30px 30px;
    background-color: #1a1a1b;

}

#newsletter div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newsletter h2 {
    color: white;
}

#newsletter .btn {
    background-color: orange;
    border: none;
    padding: 5px 10px;
    color: white;
}

#service {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

#service .service-box {

    text-align: center;
    padding: 20px;

}

#service .service-box img{
  width: 80px;  
}

#service .service-box h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding: 10px 30px;
    background-color: #1a1a1b;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;


}

#about-content {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about {
    width: 60%;
}

.what-we-do {
    width: 30%;
    background-color: #1a1a1b;
    color: white;
    padding: 20px;
}

.what-we-do p {
    margin-top: 10px;
}

.about p {
    margin-top: 10px;
}

.about .lead {
    background-color: #1a1a1b;
    color: white;
    padding: 20px;
}

#service-content {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service {
    width: 60%;
}


.service .work {
    background-color: lightgoldenrodyellow;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px #1a1a1b;
}

.form-quote {
    width: 30%;
    background-color: #1a1a1b;
    color: white;
    padding: 40px 20px;
    height: 330px;
}

.service h2 {
    margin-bottom: 20px;
}

.work p {
    margin-bottom: 8px;
}

.form-quote .input-group {
    margin: 6px;
}

.form-quote .input-group input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}

.form-quote .input-group textarea {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}

.send-button {
    display: block;
    padding: 10px 30px;
    border: none;
    margin-left: 6px;
}